.container {
    /* display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.container:last-child {
    justify-self: end;
}

.image {
    width: 30px;
    height: auto;
}

.imageWrapper {
    border: 1px solid #40424d;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

.statsWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stats {
    color: #fff;
    /* font-family: Poppins, sans-serif; */
    font-size: 52px;
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 25px;
}

.description {
    color: #858792;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: Poppins, sans-serif;
}


@media (max-width: 992px) {
    .container {
        flex-direction: column;

    }

    .imageWrapper {
        margin: auto;
    }

    .statsWrapper {
        text-align: center;
    }

}