.serviceContainer {
    /* display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    background-color: red;
    padding: 100px; */
}

.activeBullet {
    background-color: #fff;
    color: #fff;
    opacity: 1;
}