/* ClientForm.module.css */
.formGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input,
.formGroup textarea {
    padding: 10px;
    color: white;
    border: 1px solid #2a2c39;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    background-color: #2a2c39;
}

textarea {
    height: 150px;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: end;
}

button {
    padding: 12px 20px;
    background-color: #3a3d51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2a2c39;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #252734;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}