.skillsWrapper {
    background-color: #252734;
}

.container {
    display: grid;
    grid-template-columns: 520px auto;
    padding: 7rem 0;
    max-width: 1170px;
    margin: auto;
}

.section {
    background-color: #252734;
}

.button {
    max-width: 250px;
}
