.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    margin: 0;
    padding: 0 100px;
    list-style: none;
    font-family: Poppins, sans-serif;
}

.a {
    text-decoration: none;
    line-height: 120px;
    display: inline-block;
    color: #858792;
    position: relative;
    font-size: 20px;
}

.li {
    padding: 0 40px 0 40px;
}
