.container {
    background-color: #282a37;
    color: #fff;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 50px;
    margin: 0 auto 50px;
    gap: 80px;
    height: 100%;
}

.subContainer {
    display: flex;
    align-items: stretch;
    gap: 90px;
    height: 100%;
}


.content {
    text-align: left;
}

.category {
    font-weight: 400;
    margin-right: 35px;
    position: relative;
    font-size: 18px;
}

.category::after {
    position: absolute;
    content: "-";
    left: calc(100% + 17.5px);
}

.description {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 42px;
    font-size: 25px;
    max-width: 450px;
    margin: 23px 0 8px;
}

.date {
    color: #858792;
}

.button {}


@media (max-width: 1199px) {
    .subContainer {
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .image {
        margin: auto;
        width: 100%;
    }

    .imageWrapper {
        width: 100%;
    }
}

