.container {
    background-color: #2a2c39;
    padding: 7rem 0;
}

.sectionWrapper {
    max-width: 1170px;
    margin: auto;
}

.sectionTitle {
    color: #fff;
    font-family: "Cormorant Garamond", serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 25px 0 80px 0;
}

.sectionTag {
    font-size: 20px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding-left: 27px;
    color: #858792;

}

.sectionTag::before {
    position: absolute;
    content: "||";
    top: 0;
    left: 0;

}


@media (max-width: 992px) {
    .sectionTitle {
        font-size: 50px;
    }

    .sectionWrapper {
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    .sectionTitle {
        font-size: 50px;
    }

    .sectionWrapper {
        max-width: 600px;
    }
}

@media (max-width: 576px) {
    .sectionTitle {
        font-size: 40px;
        margin-bottom: 90px;
    }

    .sectionWrapper {
        max-width: 400px;
    }
}
