.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #3b3d49;
    transition: all .5s ease;
    padding-left: 30px;
        padding-right: 30px;
        height: 65px;
        border-radius: 32.5px;
        line-height: 60px;
        color: #fff;
            font-family: Poppins, sans-serif;
}

.button:hover {
    background: #2e303d;
}

.icon {
    margin-left: 20px;
}